[Unit]
Description=Report new rpm-ostree deployments

[Timer]
OnCalendar=daily
RandomizedDelaySec=1h
Persistent=true

[Install]
WantedBy=multi-user.target
